<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 d-flex justify-content-center justify-content-md-end">
        <img src="assets/logo.svg" alt="ngx-wow logo" class="logo">
      </div>
      <div class="col-sm-8 text-center text-md-left">
        <h1>ngx-wow</h1>
        <p>Angular module for
          <a href="http://mynameismatthieu.com/WOW/" target="_blank">WOW.js</a>: a customizable library to reveal animations when you scroll.</p>
        <p>Scroll down to see it in action!</p>
        <p class="buttons">
          <a class="btn btn-outline-primary btn-lg" href="http://mynameismatthieu.com/WOW/" target="_blank">
            <i class="fa fa-info fa-lg"></i> Learn More</a>
          <a class="btn btn-outline-primary btn-lg" href="https://github.com/tinesoft/ngx-wow" target="_blank">
            <i class="fa fa-github fa-lg"></i> Code on Github</a>
          <a class="btn btn-outline-primary btn-lg" href="doc/index.html" target="_blank">
            <i class="fa fa-book fa-lg"></i> Documentation</a>
        </p>
      </div>
    </div>

  </div>
</div>
<div class="text-right sticky-top">
  <button type="button" class="btn btn-primary" (click)="reset()">Reset
    <i class="fa fa-undo" aria-hidden="true"></i>
  </button>
</div>
<section class="home">
  <div class="container circles">
    <div class="row">
      <div data-wow-delay="0.5s" class="col wow rollIn">
        <p class="circle bg-green">such easy</p>
      </div>
      <div data-wow-delay="0.5s" class="col wow bounceInDown center">
        <img src="assets/wow-1.gif" height="200" class="wow animated">
      </div>
      <div data-wow-delay="0.5s" class="col wow lightSpeedIn">
        <p class="circle bg-yellow">very JS </p>
      </div>
    </div>
    <div class="row">
      <div class="col wow rollIn center">
        <img src="assets/wow-3.gif" height="200">
      </div>
      <div data-wow-iteration="5" data-wow-duration="0.15s" class="col wow pulse">
        <p class="circle bg-blue">WOW </p>
      </div>
      <div class="col wow bounceInRight center">
        <img src="assets/wow-12.gif" height="200">
      </div>
    </div>
    <div class="row">
      <div class="col wow bounceInLeft" style="visibility: visible; animation-name: bounceInLeft;">
        <p class="circle bg-red">no jquery</p>
      </div>
      <div class="col wow flipInX center" style="visibility: visible; animation-name: flipInX;">
        <img src="assets/wow-2.gif" height="200">
      </div>
      <div class="col wow bounceInRight">
        <p class="circle bg-purple">many anims </p>
      </div>
    </div>
    <div class="row">
      <div class="col wow rollIn center">
        <img src="assets/wow-5.gif" height="200">
      </div>
      <div data-wow-iteration="5" data-wow-duration="0.15s" class="col wow shake">
        <p class="circle bg-yellow">aint joke</p>
      </div>
      <div data-wow-iteration="2" class="col wow swing center">
        <img src="assets/wow-6.gif" height="200">
      </div>
    </div>
    <div class="row">
      <div class="col wow rollIn">
        <p class="circle bg-purple">how small</p>
      </div>
      <div data-wow-delay="0.5s" class="col wow bounceInUp center">
        <img src="assets/wow-10.gif" height="200">
      </div>
      <div data-wow-delay="0.5s" data-wow-duration="0.15s" class="col wow lightSpeedIn">
        <p class="circle bg-green">3 kb only </p>
      </div>
    </div>
    <div class="row">
      <div class="col wow rollIn center">
        <img src="assets/wow-7.gif" height="200">
      </div>
      <div data-wow-iteration="5" data-wow-duration="0.25s" class="col wow pulse">
        <p class="circle bg-blue">just scroll</p>
      </div>
      <div class="col wow lightSpeedIn center">
        <img src="assets/wow-9.gif" height="200">
      </div>
    </div>
    <div class="row">
      <div data-wow-iteration="5" data-wow-duration="0.15s" class="col wow bounce">
        <p class="circle bg-yellow">reveal now</p>
      </div>
      <div class="col wow bounceInUp center" style="visibility: visible; animation-name: bounceInUp;">
        <img src="assets/wow-8.gif" height="200">
      </div>
      <div class="col wow bounceInRight">
        <p class="circle bg-red">so impress</p>
      </div>
    </div>
    <div class="row">
      <div class="col wow rollIn center">
        <img src="assets/wow-4.gif" height="200">
      </div>
      <div data-wow-iteration="5" data-wow-duration="0.15s" class="col wow flip">
        <p class="circle bg-green">WOW</p>
      </div>
      <div class="col wow bounceInRight center">
        <img src="assets/wow-11.gif" height="200">
      </div>
    </div>
    <div class="row">
      <div data-wow-delay="0.5s" class="col wow rollIn">
        <p class="circle bg-red">no jquery?!</p>
      </div>
      <div data-wow-delay="1s" class="col wow bounceInDown center">
        <img src="assets/grumpy.gif" height="200">
      </div>
      <div data-wow-delay="1.5s" class="col wow bounceInRight">
        <p class="circle bg-purple">that sucks! </p>
      </div>
    </div>
  </div>
</section>
